var logfolders = [];

logfolders[0] = {
	name: "test",
	path: "c:\\temp"
};


/**
* Level can be danger, info, warning, success
*/
var highlight = [{
	text: 'WARN',
	level: 'warning'
}, {
	text: "ERROR",
	level: "danger"
}];

module.exports.logfolders = logfolders;
module.exports.highlight = highlight;
